* {
  margin: 0;
  padding: 0;
}
.clear {
  clear: both;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.nav {
  margin-top: 25px;
}
.nav ul {
  float: right;
}
.nav ul > li {
  list-style-type: none;
  float: left;
  padding: 10px 20px;
  margin-right: 5px;
}
/* .nav ul > li:hover {
  box-shadow: 5px 15px 20px 10px midnightblue;
} */
.nav ul > li > a {
  text-decoration: none;
  color: #000000;
  font-size: 25px;
  font-family: "Dosis", sans-serif;
}
.nav ul > li > a:hover {
  text-decoration: underline;
  background-image: linear-gradient(360deg, lightSalmon, tomato);
  color: aliceblue;
  padding: 10px 10px;
  border-radius: 10px;
}

.main {
  display: flex;
}
.left-side {
  width: 30%;
  margin-top: 170px;
}
.left-side h1 {
  color: #7421e0;
  font-size: 55px;
  font-weight: 900;
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
}
.left-side h2 {
  color: maroon;
  font-size: 55px;
  font-weight: 900;
  font-family: "Dosis", sans-serif;
}
.left-side p {
  font-size: 25px;
  font-family: "Dosis", sans-serif;
}
.left-side button {
  margin-top: 25px;
  padding: 15px 37px;
  border-radius: 10px;
  background-image: linear-gradient(360deg, lightSalmon, tomato);
  color: #ffffff;
  cursor: pointer;
  font-size: 25px;
  border: none;
}
.left-side button:hover {
  border: 1px solid tomato;
  box-shadow: -1px 15px 20px -1px salmon;
}
.right-side {
  width: 65%;
  text-align: right;
}
.right-side img {
  width: auto;
  height: 379px;
  margin-top: 17%;
  border-radius: 301px;
  margin-right: 35px;
}
.article {
  display: flex;
}
.picture {
  width: 55%;
}
.picture img {
  width: auto;
  height: 550px;
}
.text {
  width: 35%;
  margin: 14% 5%;
  text-align: justify;
  padding: 35px;
}
.text h4 {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  font-family: "Yaldevi", sans-serif;
}
.cv {
  margin-top: 44px;
  margin-left: 59px;
  padding: 15px 36px;
  border-radius: 20px;
  background-image: linear-gradient(360deg, lightSalmon, tomato);
  color: #ffffff;
  cursor: pointer;
  font-size: 25px;
  border: none;
}

.cv:hover {
  border: 1px solid tomato;
  box-shadow: -1px 15px 20px -1px palevioletred;
}
.work-container {
  background-color: #e1e7e69e;
}
.caption-text {
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
  padding-top: 35px;
}
.caption-text h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  margin-top: 15px;
  padding-top: 15px;
}
.work-img-section {
  display: flex;
  width: 100%;
  height: auto;
}
.single-section img {
  width: 260px;
  margin: 37px 76px;
  border: 44px solid white;
  border-width: 27px;
  border-radius: 27px;
}
.single-section {
  margin: 10px 4px;
  height: auto;
  padding-bottom: 66px;
  text-align: center;
}
.single-section h3 {
  text-transform: uppercase;
  color: rgb(144, 12, 63);
}
.single-section p {
  text-align: center;
  margin: 2px 78px;
  font-weight: bold;
  color: #34495e;
}
.container {
  width: 1400px;
  margin: 0 auto;
}
.work-inquary img {
  width: 531px;
  height: 0%;
  margin: 35px 407px;
  padding-top: 25px;
}
.text-inside {
  color: white;
  margin: -117px 413px;
  text-transform: uppercase;
  font-size: 15px;
  font-style: italic;
}
.button {
  margin: 84px 790px;
  padding: 1px 34px;
  border-radius: 18px;
  background-image: linear-gradient(to right, #59c173, #a17fe0, #5d26c1);
  color: #ffffff;
  cursor: pointer;
  font-size: 15px;
  border: none;
  transition: 0.5s;
}

.button:hover {
  border: 1px solid tomato;
  background-image: linear-gradient(to left, #59c173, #a17fe0, #5d26c1);
  cursor: progress;
}
.last1 {
  text-align: center;
  font-size: large;
  font-family: "Roboto Slab";
  font-weight: bold;
  color: tomato;
}
.last2 {
  text-align: center;
  color: midnightblue;
}
.last_image {
  margin-left: 490px;
}
